.professionalContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.NavProfessionalContainer {
	background-color: rgb(255, 255, 255);
	padding: 10px 60px;
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.24);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'poppins';
	font-size: 14px;
	max-height: 60px;
	color: rgb(63, 63, 63);
	border-radius: 5px;
}

.navLinks {
	text-decoration: none;
	color: rgb(63, 63, 63);
}

.NavProfessionalReturnContainer {
	display: flex;
}
.NavProfessionalReturnContainer p {
	cursor: pointer;
}

.bodyProfessionalContainer {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.24);
	font-family: 'poppins';
	font-size: 16px;
	color: rgb(63, 63, 63);
	border-radius: 5px;
	margin: 10px 0;
	overflow-y: scroll;
	flex-grow: 1;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	padding-bottom: 30px;
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-gap: 20px; */
}

.bodyProfessionalContainer::-webkit-scrollbar {
	width: 7px;
}

.bodyProfessionalContainer h3 {
	margin: 0;
}

.bodyProfessionalContainer::-webkit-scrollbar-thumb {
	background-color: rgb(88, 88, 88);
	border-radius: 10px;
}

.card {
	display: flex;
	width: 450px;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.24);
	height: 70px;
	border-radius: 5px;
	text-transform: capitalize;
	justify-self: center;
	margin: 30px 30px 0;
}

.cardName {
	letter-spacing: 1px;
	font-weight: 600;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
}

.cardSpecialty {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	box-shadow: 0px 0px 5px 2px rgba(19, 18, 18, 0.096);
	padding: 5px 7px;
	border-radius: 5px;
	text-align: center;
}

.cardSeeCalendar {
	text-decoration: underline;
	color: rgb(34, 148, 255);
	font-size: 12px;
}

.psicologia {
	background-color: #ffdd6c;
}

.psiquiatria {
	background-color: #9fecff;
}

.containerSearch {
	border-bottom: 1px solid rgb(48, 48, 48);
	letter-spacing: 1px;
	flex-grow: 1;
	display: flex;
	max-width: 380px;
}

.containerSearch img {
	width: 20px;
	margin: 0 7px 2px;
}

.search {
	text-transform: uppercase;
	border: none;
	outline: none;
	flex-grow: 1;
}

.focusSearch {
	border-bottom: 2px solid rgb(42, 161, 241);
	outline: none;
	transition: border-bottom 0.1s;
}

@media (max-width: 600px) {
	.NavProfessionalContainer {
		padding: 10px;
	}

	.bodyProfessionalContainer {
		padding: 20px 0px;
		grid-template-columns: 1fr;
	}

	.card {
		width: 95%;
		margin: 30px 5px 0;
	}

	.containerSearch {
		border-bottom: 1px solid rgb(48, 48, 48);
		letter-spacing: 1px;
		flex-grow: 1;
		display: flex;
		max-width: 250px;
	}

	.containerSearch img {
		width: 15px;
		margin: 0 4px 2px;
	}

	.search {
		font-size: 9px;
	}

	.cardSpecialty {
		font-size: 9px;
	}
}
