.CalendarContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0;
	letter-spacing: 1px;
	word-spacing: 5px;
	text-transform: capitalize;
}

.NavCalendarContainer {
	background-color: rgb(255, 255, 255);
	padding: 10px 60px;
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.24);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'poppins';
	font-size: 12px;
	max-height: 60px;
	color: rgb(63, 63, 63);
	border-radius: 5px;
}

.navLinks,
.navLinks:hover {
	text-decoration: none;
	color: rgb(63, 63, 63);
}

.NavCalendarContainer p {
	font-size: 14px;
}

.NavCalendarContainer2 {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.445);
	display: none;
	font-family: 'poppins';
	font-size: 14px;
	max-height: 60px;
	color: rgb(63, 63, 63);
	margin-bottom: 10px;
}

.NavCalendarReturnContainer {
	display: flex;
	width: 120px;
}
.NavCalendarReturnContainer p {
	cursor: pointer;
}

.NavCalendarMonthContainer {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.month {
	text-transform: capitalize;
}

.off {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.backNull {
	width: 20px;
	height: 20px;
}

.bodyCalendarContainer {
	background-color: rgb(255, 255, 255);
	padding: 30px 60px;
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.24);
	font-family: 'poppins';
	font-size: 16px;
	color: rgb(63, 63, 63);
	border-radius: 5px;
	margin: 10px 0;
	overflow-y: scroll;
	position: relative;
}

.bodyCalendarContainer::-webkit-scrollbar {
	width: 7px;
}

.bodyCalendarContainer::-webkit-scrollbar-thumb {
	background-color: rgb(88, 88, 88);
	border-radius: 10px;
}

.calendarGridHeaderDesktop,
.calendarGridBody {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.calendarGridHeaderDesktop {
	margin: 0px 0 20px;
}

.calendarGridHeaderMobile {
	display: none;
}

.gridCellHeader {
	justify-self: center;
	align-self: center;
}

.gridCellData {
	font-size: 20px;
	height: 90px;
	font-weight: 500;
	border: solid 0.1px rgb(219, 219, 219);
	box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.075);
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: 5;
	grid-template-rows: 3;
}

.gridNumberCell {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	grid-column-start: 5;
	grid-column-end: 5;
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridNumberCellToday {
	background-color: rgb(1, 132, 255);
	color: #fff;
}

.gridNumberCellSunday {
	color: #ff4e4e;
}

.gridNumberCellAvailable {
	background-color: #9bf0a9;
	cursor: pointer;
	letter-spacing: 1px;
}

.gridNumberCellDisabled {
	background-color: #f5a7a7;
	cursor: pointer;
	letter-spacing: 1px;
}

.gridNumberCellLocked {
	color: #fff;
	background-color: #868585;
	letter-spacing: 1px;
}

.gridCellDataAvailability {
	font-size: 12px;
	text-transform: uppercase;
	grid-column-start: 1;
	grid-column-end: 6;
	justify-self: center;
	align-self: center;
}

.gridNumberCellNotMonth {
	color: rgb(170, 170, 170);
	background-color: #e0e0e0;
}

@media (max-width: 1300px) {
	.calendarGridHeaderDesktop,
	.calendarGridBody {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 10px;
	}
	.gridCellData {
		box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.075);
	}
}

@media (max-width: 1000px) {
	.NavCalendarContainer,
	.bodyCalendarContainer {
		padding: 30px;
	}

	.calendarGridHeaderMobile {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		margin: 0px 0 20px;
		font-size: 16px;
	}

	.calendarGridHeaderDesktop {
		display: none;
	}

	.gridCellData {
		height: 100px;
		font-size: 18px;
	}

	.gridCellDataAvailability {
		font-size: 12px;
		font-weight: 500;
		text-align: center;
	}
}

@media (max-width: 800px) {
	.calendarGridHeaderMobile {
		font-size: 10px;
		margin: 10px 0;
	}

	.calendarGridBody,
	.calendarGridHeaderMobile {
		grid-column-gap: 10px;
		grid-row-gap: 5px;
	}

	.calendarGridHeaderDesktop {
		display: none;
	}

	.gridCellData {
		height: 60px;
		font-size: 12px;
		padding: 5px;
	}

	.bodyCalendarContainer {
		flex-grow: 0;
	}

	.gridNumberCell {
		width: 20px;
		height: 20px;
	}

	.gridCellDataAvailability {
		font-size: 8px;
	}
}

@media (max-width: 600px) {
	.NavCalendarContainer2 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.NavCalendarContainer {
		padding: 20px 15px;
		border-radius: 0;
	}
	.h2D {
		display: none;
	}

	h2 {
		font-size: 18px;
	}

	.bodyCalendarContainer {
		border-radius: 0px;
		padding: 15px 10px;
	}

	.calendarGridHeaderMobile {
		margin: 10px 0;
	}

	.calendarGridBody,
	.calendarGridHeaderMobile {
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	.calendarGridHeaderDesktop {
		display: none;
	}

	.gridCellData {
		height: 60px;
		font-size: 10px;
		padding: 5px 3px;
	}

	.gridNumberCell {
		width: 15px;
		height: 15px;
	}

	.gridNumberCell {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.gridCellDataAvailability,
	.gridNumberCell {
		font-size: 8px;
	}

	.gridNumberCellAvailable,
	.gridNumberCellDisabled {
		letter-spacing: 0px;
	}

	.gridNumberCellLocked {
		letter-spacing: 1px;
	}
}
